
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    line-height: 1.3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

h2 {
    font-weight: 600;
    font-size: large;
}

h3 {
    font-size: 13px;
}

/* NavBar Styles */
.nav-container {
    max-width: 100%;
    margin: 20px;
    padding: 0 30px;
}

.navbar {
    background: white;
    height: 60px;
    margin: 20px 0px;
}

.navbar img {
    max-width: 130px;
    display: block;
}


.navbar a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.navbar .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar-search {
    display: flex;
    
}

/* NavBar Styles */

/*Button Styles*/
#nav-signup {
    align-items: center;
    background-color: rgb(57, 57, 57);
    color: white;
    font-family: sans-serif;
    display: inline-flex;
    height: 42px;
    font-weight: 600;
    padding: 10px 22px 10px 22px;
    border: none;
    font-size: 16px;
    cursor: pointer;   
}
#nav-signup:hover {
    background-color: black;
}


#nav-sell {
    align-items: center;
    background-color: white;
    color: black;
    font-family: sans-serif;
    height: 42px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 20px;
    padding: 4px 14px 4px 14px;
}

.see-all-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 99, 0);
    border: none;
    background-color: transparent;
    height: 34px;
    padding: 6px;
    font-family: 'Segoe UI';
    font-weight: 650;
    font-size: 14px;
    cursor: pointer;
}
.see-all-btn:hover {
   background-color: rgba(97, 97, 97, 0.384); 
}

.see-all-btn img {
    width: 1em;
    height: 1em;
    display: inline-flex;
    line-height: 1em;
    margin-inline-start: 0.5em;
    justify-content: center;
}
/*Button Styles*/


/*--- Alt Navbar ---*/
.product-select {
    margin: 0 auto;
    padding: 12.5px;
    background-color: rgba(128, 128, 128, 0.158);
}

.product-select a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: large;
}

.product-select .product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}

.product-list li {
    margin: 0 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*--- Alt Navbar ---*/



/*Main Page*/

#content-container {
    width: 100%;
    max-width: 1296px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;

}

.main-img {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.box img {
    max-width: 8rem;
    display: block;
    margin: 0 auto;
}

.product-row-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

}


.product-grid-container {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   gap: 1.5rem; 
}

.box {
    border: solid rgba(185, 185, 185, 0.418) 1px;
    height: 15rem;
}



@media (max-width: 767px) {
    .product-select, .navbar {
        display: none;
    }
}